**/node_modules/
**/dist/
**/.DS_Store
ShortcutList/ShortcutList.xcodeproj/project.xcworkspace/xcuserdata/egawata.xcuserdatad/UserInterfaceState.xcuserstate
ShortcutList/ShortcutList.xcodeproj/xcuserdata/egawata.xcuserdatad/xcschemes/xcschememanagement.plist
